@use '../styles/mixins' as *;
@use '../styles/tokens' as *;

.wrap {
  position: relative;
  flex: 0 0 auto;
  width: 196px;
  height: 148px;
  overflow: hidden;
  touch-action: none;
  user-select: none;
  cursor: crosshair;
}
